*{
    box-sizing: border-box;
}

body{
    padding: 30px;
    margin: 0;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header ul.navLinks{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.2rem;
    cursor: pointer;
}

header button.agregar{
    padding: 5px 30px;
    cursor: pointer;
}

header .agregar a{
    text-decoration: none;
    color: black;
}

.containerPendientes{
    color: blue;
}

.containerCumplidas{
    color: green;
}

.containerFallidas{
    color: red;
}

.modalAgregar{
    width: 50%;
    height: 70vh;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
}

.modalAgregar::backdrop{
    backdrop-filter: blur(5px);
}

#formulario{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.formHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bx-x{
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
}

.bodyForm{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bodyForm input, .bodyForm select{
    width: 30%;
    text-align: center;
}


.principal{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 20px;
}

.principal .containerCards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}


.principal .containerCards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    

}